.bg-color {
  background-color: #563d7c;
  color: aliceblue;
}

.mb-ud {
  margin-bottom: 100px;
}
.mt-ud {
  margin-top: 60px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar p:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .sidebar p {
    font-size: 18px;
  }
}

.containerw3-right {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 15px 0 0 15px;
  padding: 5px;
  margin-left: 55%;
  margin-bottom: 1%;
  max-width: 45%;
  overflow-wrap: break-word;
  margin-right: 1%;
}

.containerw3-left {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 0 15px 15px 0;
  padding: 5px;
  max-width: 45%;
  margin-bottom: 1%;
  overflow-wrap: break-word;
  margin-left: 1%;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerw3-left::after {
  content: "";
  clear: both;
  display: table;
}
.containerw3-right::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
  font-size: smaller;
}

.time-left {
  float: left;
  color: #999;
  font-size: smaller;
}

.you {
  color: green;
}

.opponent {
  color: brown;
}
